---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
    <script is:inline>
      // Check for dark mode preference on page load
      if (localStorage.getItem('dark') === 'true') {
        document.documentElement.classList.add('dark');
      }
    </script>
  </head>
  <body class="flex flex-col max-w-3xl min-h-screen px-8 mx-auto bg-white dark:bg-base-950 text-base-900 dark:text-base-100 transition-colors duration-300">
    <Navigation />
    <main class="flex-grow"><slot /></main>
    <Footer />
  </body>
</html>
